httpx
gpsd-py3
kismet_rest
colorama
python-dotenv
h11>=0.16.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
